body{
    background: #fffff8;
    font-family: 'Roboto', sans-serif;;
}

#app{
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    height:100vh;
    background-image:url("");
    color:black;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;;
}

