@import "mediaqueries.css";
body{
    background: rgb(65,201,236);
    background: linear-gradient(110deg, rgba(65,201,236,1) 45%, rgba(3,139,207,1) 100%);
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: auto;
}


.app{
    display: grid; 
    grid-gap: 1em;
    grid-template-areas: "title"
                         "card"
                         "go-back";
    font-family: 'Roboto', sans-serif;;
    ;
    
}
.go-back{
    grid-area: go-back;
    margin:4vh;
    font-weight: 600;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-template-areas: "zip"
                         "feelings"
                         "button";
    margin-top: 10vh;    
    grid-area: card;
}

#zip{
    margin: 2vh;
    grid-area: zip;
    padding: 1px;
    background-color: transparent;
    color: #eeeeee;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #eeeeee 1px;
}

#feelings{
    grid-area: feelings;
    background-color: transparent;
    color: #eeeeee;
    margin: 2vh;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #eeeeee 1px;
}

/**************APP HEADLINE*************/
.holder-headline {
    
    justify-items: center;
    padding: 2vh;
    grid-area: title;
    display: grid;
    /*height:10vh;
    position: relative;*/
    font-family: brandon-grotesque, sans-serif;
    color:white;
    align-content: center;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 7rem;
}



#generate{
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-right: 1px;
}

.holder-zip{
    display: grid;
    justify-content: center;
    margin: 20px;
    display: grid;
    justify-content: left;

    }


.entryHolder{
    /*margin-left: 160px;
    margin-right: 160px; 
    margin-top: 60px;*/
    background: rgb(0,111,151);
    background: linear-gradient(110deg, rgba(0,111,151,1) 45%, rgba(0,133,163,1) 100%);
    justify-self: center;
    padding: 20px;
    grid-area: card;
    display: grid;
    color:white;
    grid-gap: 1em;
    font-size: 20px;
    border-radius: 3px;
}

#date{
    font-family: 'Roboto', sans-serif;
    color:white;
    justify-self: left
}

#temp{
    font-size: 40px;
    color:white;
    justify-self: left;
}
#temp-max-min{
    font-size: 20px;
    color:white;
    
    justify-self: left;
    
}

.fa-cloud{
    justify-self: left;
}


#city{
    font-size: 40px;
    justify-self: left;
}


#content{
    font-family: 'Roboto', sans-serif;
    color:white;
    justify-self: left;

}


/*  Basic Styling To Override Default For Basic HTML Elements */
label{
 
    font-size: 20px;
}

/**************ZIPCODE INPUT*************/
input{
    height: 50px;
    width: 300px;
    border: none;
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    justify-content: left;
    
}

.invisible{
    display: none;
}

a {
    color: white;
  }

button{
    grid-area: button;
    width: 300px;
    height: 50px;
    background: #04364E;
    color: white;
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
    border: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    border-radius: 3.3px;
    transition: background-color .3s;
    margin-top:5vh;
   
}
.button:hover, .button:focus {
    background-color: #02111B;
  }
h1{
    font-size: 10em;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color:white; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color:white; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: white; 
    font-family: 'Oswald', sans-serif;

} 
